.u-section-1 {min-height: 837px; background-image: none}
.u-section-1 .u-image-1 {height: 613px; object-position: 50% 19.23%; background-position: 50% 19.23%; margin: 0 auto 0 0}
.u-section-1 .u-layout-wrap-1 {width: 1140px; margin: -121px auto 60px}
.u-section-1 .u-layout-cell-1 {min-height: 362px; background-image: none}
.u-section-1 .u-container-layout-1 {padding: 40px 30px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-1 {font-weight: 400; font-size: 1.5rem; margin: 20px 0 0}
.u-section-1 .u-text-2 {font-style: italic; font-size: 1.125rem; margin: 20px 0 0}
.u-section-1 .u-text-3 {font-weight: 400; font-size: 1.5rem; width: auto; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: -580px auto 0 -13px}
.u-section-1 .u-text-4 {font-style: italic; font-size: 1.125rem; width: 280px; height: 84px; margin: 20px auto 0 -13px}
.u-section-1 .u-layout-cell-2 {min-height: 317px}
.u-section-1 .u-container-layout-2 {padding: 40px 30px}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-5 {font-weight: 400; font-size: 1.5rem; margin: 20px 0 0}
.u-section-1 .u-text-6 {font-style: italic; font-size: 1.125rem; margin: 20px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 317px}
.u-section-1 .u-container-layout-3 {padding: 40px 30px}
.u-section-1 .u-icon-3 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-7 {font-weight: 400; font-size: 1.5rem; margin: 20px 0 0}
.u-section-1 .u-text-8 {font-style: italic; font-size: 1.125rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 827px}
.u-section-1 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 940px}
.u-section-1 .u-layout-cell-1 {min-height: 298px}
.u-section-1 .u-text-3 {margin-left: 0}
.u-section-1 .u-text-4 {width: 233px; margin-left: 0}
.u-section-1 .u-layout-cell-2 {min-height: 261px}
.u-section-1 .u-layout-cell-3 {min-height: 261px} }

@media (max-width: 991px){ .u-section-1 {min-height: 799px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding: 30px 20px}
.u-section-1 .u-text-4 {width: 180px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding: 30px 20px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-container-layout-3 {padding: 30px 20px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {height: 483px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-top: 9px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1216px}
.u-section-1 .u-image-1 {height: 402px; filter: brightness(0.45); margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-top: -44px; margin-left: 0}
.u-section-1 .u-layout-cell-1 {min-height: 286px}
.u-section-1 .u-text-2 {margin-top: 12px; margin-left: -7px; margin-right: -7px}
.u-section-1 .u-text-3 {font-size: 1.875rem; font-weight: 700; margin-top: -572px; margin-right: -82px; margin-left: 20px}
.u-section-1 .u-text-4 {width: auto; margin-top: 60px; margin-right: -75px; margin-left: 27px}
.u-section-1 .u-layout-cell-2 {min-height: 312px}
.u-section-1 .u-layout-cell-3 {min-height: 312px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 812px}
.u-section-2 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 715px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {text-transform: uppercase; font-weight: 500; font-size: 4.5rem; margin: 0 10px 0 0}
.u-section-2 .u-text-2 {margin: 42px 3px 0 0}
.u-section-2 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 2px; margin: 25px 282px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 715px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-3 {font-size: 25rem; font-weight: 900; letter-spacing: -40px; text-transform: none; margin: 0 20px 0 42px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 687px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 590px}
.u-section-2 .u-text-1 {font-size: 3.75rem; margin-right: 0}
.u-section-2 .u-text-2 {margin-right: 0}
.u-section-2 .u-btn-1 {margin-right: 182px}
.u-section-2 .u-layout-cell-2 {min-height: 590px}
.u-section-2 .u-text-3 {font-size: 23.75rem; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 197px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-1 {font-size: 3rem}
.u-section-2 .u-btn-1 {margin-right: 72px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-text-3 {font-size: 17.5rem} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 297px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 779px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 619px}
.u-section-2 .u-text-1 {margin-top: 144px}
.u-section-2 .u-text-2 {margin-top: 17px}
.u-section-2 .u-btn-1 {margin: 17px 10px -111px auto}
.u-section-2 .u-text-3 {text-transform: uppercase; margin-top: -758px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-layout-wrap-1 {width: 905px; margin: 45px auto 45px 0}
.u-section-3 .u-image-1 {min-height: 461px; background-image: url("images/image2.png")}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-shape-1 {width: 226px; height: 44px; margin: 327px -4px 0 auto}
.u-section-3 .u-text-1 {font-weight: 700; margin: -35px auto 0}
.u-section-3 .u-image-2 {min-height: 461px; background-image: url("images/image11.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-2 {padding: 0 30px 30px 45px}
.u-section-3 .u-shape-2 {width: 211px; height: 44px; margin: 357px -4px 0 auto}
.u-section-3 .u-text-2 {font-weight: 700; margin: -35px 22px 0 auto}
.u-section-3 .u-image-3 {background-image: url("images/image21.png"); background-position: 50% 50%; min-height: 461px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-shape-3 {width: 213px; height: 44px; margin: 327px 0 0 auto}
.u-section-3 .u-text-3 {font-weight: 700; margin: -35px auto 0}
.u-section-3 .u-layout-cell-4 {min-height: 461px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-text-4 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-text-5 {margin-left: 0}
.u-section-3 .u-image-4 {min-height: 461px; background-image: url("images/image3.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-shape-4 {width: 221px; height: 44px; margin: 327px auto 0 0}
.u-section-3 .u-text-6 {font-weight: 700; margin: -35px auto 0}
.u-section-3 .u-image-5 {min-height: 461px; background-image: url("images/image4.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-6 {padding: 30px 15px 30px 20px}
.u-section-3 .u-shape-5 {height: 44px; margin: 327px 0 0 auto}
.u-section-3 .u-text-7 {font-weight: 700; margin: -35px 7px 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 436px}
.u-section-3 .u-layout-wrap-1 {min-height: 892px}
.u-section-3 .u-image-1 {background-position: 50% 50%}
.u-section-3 .u-shape-1 {width: 153px; margin-right: 0}
.u-section-3 .u-shape-2 {width: 73px; margin-right: 0}
.u-section-3 .u-text-2 {margin-right: 0}
.u-section-3 .u-shape-3 {width: 153px}
.u-section-3 .u-shape-5 {margin-right: initial; margin-left: initial}
.u-section-3 .u-text-7 {margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-image-1 {min-height: 367px}
.u-section-3 .u-shape-1 {width: 98px}
.u-section-3 .u-image-2 {min-height: 367px}
.u-section-3 .u-container-layout-2 {padding-left: 60px}
.u-section-3 .u-shape-2 {width: 68px}
.u-section-3 .u-image-3 {min-height: 367px}
.u-section-3 .u-shape-3 {width: 98px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-image-4 {min-height: 367px}
.u-section-3 .u-shape-4 {width: 160px}
.u-section-3 .u-image-5 {min-height: 367px} }

@media (max-width: 767px){ .u-section-3 .u-layout-wrap-1 {width: 540px; min-height: 1131px}
.u-section-3 .u-image-1 {min-height: 1101px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {min-height: 1101px}
.u-section-3 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-3 .u-image-3 {min-height: 1101px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-4 {min-height: 826px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-5 {min-height: 1101px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {width: 340px; min-height: 865px}
.u-section-3 .u-image-1 {min-height: 693px}
.u-section-3 .u-shape-1 {width: 223px; margin-top: 559px; margin-right: auto; margin-left: 0}
.u-section-3 .u-text-1 {width: auto; margin-left: 20px}
.u-section-3 .u-image-2 {min-height: 693px}
.u-section-3 .u-shape-2 {width: 185px; margin-top: 589px; margin-right: 10px}
.u-section-3 .u-text-2 {width: auto; margin-right: 20px}
.u-section-3 .u-image-3 {min-height: 693px}
.u-section-3 .u-shape-3 {width: 199px; margin-top: 559px; margin-right: 10px}
.u-section-3 .u-text-3 {width: auto; margin-right: 37px}
.u-section-3 .u-image-4 {min-height: 520px}
.u-section-3 .u-shape-4 {width: 192px; margin-top: 386px}
.u-section-3 .u-text-6 {width: auto; margin-left: 25px}
.u-section-3 .u-image-5 {min-height: 693px}
.u-section-3 .u-shape-5 {width: 275px; margin-top: 549px; margin-right: 0; margin-left: auto}
.u-section-3 .u-text-7 {width: auto; margin-right: 23px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 812px}
.u-section-4 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-4 .u-layout-cell-1 {min-height: 610px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-1 {font-weight: 400; font-size: 1.5rem; margin: 0 226px 0 0}
.u-section-4 .u-text-2 {font-size: 25rem; font-weight: 900; letter-spacing: -40px; margin: 0 62px 0 0}
.u-section-4 .u-layout-cell-2 {min-height: 715px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-3 {text-transform: uppercase; font-weight: 500; font-size: 4.5rem; margin: 0 10px 0 0}
.u-section-4 .u-text-4 {margin: 42px 3px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 540px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 503px}
.u-section-4 .u-text-1 {margin-right: 126px}
.u-section-4 .u-text-2 {font-size: 23.75rem; margin-right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 590px}
.u-section-4 .u-text-3 {font-size: 3.75rem; margin-right: 0}
.u-section-4 .u-text-4 {margin-right: 0} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 50px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-text-1 {margin-right: 16px}
.u-section-4 .u-text-2 {font-size: 17.5rem}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-text-3 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 150px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 38px}
.u-section-4 .u-text-1 {margin-right: 0}
.u-section-4 .u-text-4 {margin-top: 10px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 1068px}
.u-section-5 .u-layout-wrap-1 {width: 1059px; margin: 153px auto 70px 40px}
.u-section-5 .u-layout-cell-1 {min-height: 183px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-layout-cell-2 {min-height: 673px}
.u-section-5 .u-image-1 {height: 312px; margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 397px}
.u-section-5 .u-image-2 {height: 427px; margin: -60px auto 0 0}
.u-section-5 .u-layout-cell-4 {min-height: 478px}
.u-section-5 .u-image-3 {height: 328px; margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-5 {min-height: 522px}
.u-section-5 .u-image-4 {height: 294px; margin: 198px auto 0 0}
.u-section-5 .u-image-5 {min-height: 353px; background-image: url("images/image14.png"); background-position: 50% 50%}
.u-section-5 .u-layout-cell-7 {min-height: 578px}
.u-section-5 .u-container-layout-7 {padding: 10px 0 20px}
.u-section-5 .u-text-1 {line-height: 1.9; font-size: 1.125rem}
.u-section-5 .u-layout-cell-8 {min-height: 278px}
.u-section-5 .u-image-6 {height: 418px; margin: -289px auto 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 965px}
.u-section-5 .u-layout-wrap-1 {width: 940px; margin-left: auto}
.u-section-5 .u-layout-cell-1 {min-height: 151px}
.u-section-5 .u-layout-cell-2 {min-height: 555px}
.u-section-5 .u-image-1 {height: 257px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-3 {min-height: 327px}
.u-section-5 .u-image-2 {height: 352px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-4 {min-height: 394px}
.u-section-5 .u-image-3 {height: 270px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-5 {min-height: 430px}
.u-section-5 .u-image-4 {height: 242px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-5 {min-height: 291px}
.u-section-5 .u-layout-cell-7 {min-height: 477px}
.u-section-5 .u-layout-cell-8 {min-height: 229px}
.u-section-5 .u-image-6 {height: 345px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 1121px}
.u-section-5 .u-layout-wrap-1 {width: 720px}
.u-section-5 .u-layout-cell-1 {min-height: 231px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-1 {height: 394px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-image-2 {height: 539px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-4 {min-height: 100px}
.u-section-5 .u-image-3 {height: 414px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-5 {min-height: 100px}
.u-section-5 .u-image-4 {height: 371px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-5 {min-height: 446px}
.u-section-5 .u-layout-cell-7 {min-height: 100px}
.u-section-5 .u-layout-cell-8 {min-height: 100px}
.u-section-5 .u-image-6 {height: 529px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 1660px}
.u-section-5 .u-layout-wrap-1 {width: 540px}
.u-section-5 .u-layout-cell-1 {min-height: 347px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {height: 591px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 729px; margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 621px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 735px; margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-5 {min-height: 669px}
.u-section-5 .u-image-6 {height: 485px; margin-top: 20px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 1283px}
.u-section-5 .u-layout-wrap-1 {width: 340px; margin: 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 218px}
.u-section-5 .u-image-1 {height: 372px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 459px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 391px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 463px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-5 {min-height: 421px}
.u-section-5 .u-image-6 {height: 305px; margin-right: initial; margin-left: initial} }.u-section-6 .u-sheet-1 {min-height: 715px}
.u-section-6 .u-text-1 {width: 681px; margin: 60px auto 0}
.u-section-6 .u-text-2 {width: 681px; margin: 20px auto 0}
.u-section-6 .u-line-1 {width: 72px; transform-origin: left center; height: 3px; margin: 30px auto 0}
.u-section-6 .u-layout-wrap-1 {margin: 30px auto 60px 0}
.u-section-6 .u-layout-cell-1 {min-height: 457px}
.u-section-6 .u-container-layout-1 {padding-left: 30px; padding-top: 30px; padding-right: 30px}
.u-section-6 .u-group-1 {min-height: 217px; margin: 0 auto 0 0}
.u-section-6 .u-container-layout-2 {padding: 30px 10px}
.u-section-6 .u-text-3 {margin: 0}
.u-section-6 .u-image-1 {width: 100px; height: 100px; margin: -52px auto 0}
.u-section-6 .u-text-4 {font-size: 1.875rem; margin: 30px 0 0}
.u-section-6 .u-text-5 {font-weight: 400; font-size: 1.5rem; margin: 10px 0 0}
.u-section-6 .u-layout-cell-2 {min-height: 457px; background-position: 0% 0%}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-group-2 {min-height: 215px; margin: 0 auto 0 0}
.u-section-6 .u-container-layout-4 {padding: 30px 10px}
.u-section-6 .u-text-6 {margin: 0}
.u-section-6 .u-image-2 {width: 100px; height: 100px; margin: -50px auto 0}
.u-section-6 .u-text-7 {font-size: 1.875rem; margin: 30px 0 0}
.u-section-6 .u-text-8 {font-weight: 400; font-size: 1.5rem; margin: 10px 0 0}
.u-section-6 .u-layout-cell-3 {min-height: 457px; background-position: 0% 0%}
.u-section-6 .u-container-layout-5 {padding: 30px}
.u-section-6 .u-group-3 {min-height: 213px; margin: 0 auto 0 0}
.u-section-6 .u-container-layout-6 {padding: 30px 10px}
.u-section-6 .u-text-9 {margin: 0}
.u-section-6 .u-image-3 {width: 100px; height: 100px; margin: -49px auto 0}
.u-section-6 .u-text-10 {font-size: 1.875rem; margin: 30px 0 0}
.u-section-6 .u-text-11 {font-weight: 400; font-size: 1.5rem; margin: 10px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 510px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 377px}
.u-section-6 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 377px}
.u-section-6 .u-group-2 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-3 {min-height: 377px}
.u-section-6 .u-group-3 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 233px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 333px}
.u-section-6 .u-text-1 {width: 540px}
.u-section-6 .u-text-2 {width: 540px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-text-1 {width: 340px}
.u-section-6 .u-text-2 {width: 340px}
.u-section-6 .u-image-3 {object-position: 50% 9.32%; background-position: 50% 9.32%} }